body {
    text-align: center;
    background-color: #FFDDD2;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    color: #83C5BE;
}

h2 {
    text-align: center;
    color: #571089;
}

p {
    text-align: left;
}

/*käyty linkki*/
a:visited {
    color: #6e1423;
    text-decoration: overline;
}

/*hiiri linkin päällä*/
a:hover {
    color: #007f5f;
    background-color: #f6f4d2;
}

a:active {
    background-color: #ffc8dd;
    color: #b5179e;
}

/*tässä on kuvan määritykset*/
img {
    height: 250px;
    width: 250px;
    padding: 5px;
    border-style: double;
}

ul {
    text-align: left;
}

address {
    text-align: center;
}

/* tässä on määritelty kolmen eri tableen kuuluvan jutun CSS määreitä*/
table,
th,
td {
    border: 1px solid black;

}

th {
    text-align: center;
    padding: 5px;
}

td {
    padding: 5px;
}

/* .banner on HTML koodissa class!*/
/*margin voidaan merkata myös näin, menee kellon mukaan top, right, bottom, lef*/
.banner {
    text-align: center;
    height: 100px;
    background-color: lightsalmon;
    margin: 0;
    color: salmon;
    padding-top: 50px;
}

/* tässä on myös käytetty class määrettä menun ympärille*/
/*värejä voi myös laittaa näin*/
.nav {
    height: 35px;
    color: #660B81;
    text-align: center;
    background-color: #CD98DD;
    font-size: 20px;
    padding-top: 10px;
    margin: 0;
}